.houses--clicked {
  .houses__Hufflepuff--clicked,
  .houses__Ravenclaw--clicked,
  .houses__Slytherin--clicked,
  .houses__Gryffindor--clicked {
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: auto;
    margin: 9rem auto 2rem;
    border: 0.3rem solid;
    background-color: var(--secondaryColor);
    border-radius: 10%;
    padding: 0.5rem;
  }
  .houses__Hufflepuff-logo,
  .houses__Ravenclaw-logo,
  .houses__Slytherin-logo,
  .houses__Gryffindor-logo {
    border-radius: 10% 10% 0 0;
    margin-bottom: 1rem;
  }
  .houses__Hufflepuff-button,
  .houses__Ravenclaw-button,
  .houses__Slytherin-button,
  .houses__Gryffindor-button {
    width: 12rem;
    height: 2.5rem;
    border: 0.2rem solid;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--titlesColor);
    color: var(--primaryColor);
    font-family: var(--titlesFont);
    font-size: 2rem;
    margin: auto;
  }
}

@media screen and (min-width: 576px) {
  .houses--clicked {
    .houses__cards--clicked {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .houses--clicked {
    .houses__cards--clicked {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 992px) {
  .houses--clicked {
    .houses__cards--clicked {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
