.spellsPage__title {
    margin-top: 9rem;
    font-size: 2rem;
    font-family: var(--titlesFont);
    color: var(--titlesColor);
    text-align: center;
}
.spellsPage__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .spellsPage__title {
        font-size: 2.5rem;;
    }
}